<!-- footer for using as puplic -->
<div class="footer">
    <a href="https://www.facebook.com/" target="_blank" title="facebook">
        <i class="fab fa-facebook-square"></i>
    </a>
    <a href="https://www.linkedin.com/" target="_blank" title="linkedin">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://www.youtube.com/" target="_blank" title="youtube">
        <i class="fab fa-youtube"></i>
    </a>
    <a href="https://twitter.com/" target="_blank" title="twitter">
        <i class="fab fa-twitter"></i>
    </a>
    <p>Copy right© 2023 KattanSoftware</p>
</div>
<script type="text/javascript" src="/js/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="/js/pooper.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/79eed75f5b.js" crossorigin="anonymous">
</script>
<script type="module" src="/js/main.js"></script>
</body>
</html>