<!-- navBar for pages as puplic -->
<nav>
  <div class="container main-nav">
    <!-- brand -->
    <p class="brand">Ev pazarlama</p>
    <!-- navigators links in page -->
    <ul class="navigator-in-page">
      <li><a class="nav-link active realLan textAlignLan" href="#real">Real estates</a></li>
      <li><a class="nav-link carLan textAlignLan" href="#car">Vehicles</a></li>
      <li><a class="nav-link hotelLan textAlignLan" href="#hotel">Hotels</a></li>
    </ul>
    <!-- auth buttons -->
    <ul class="list-auth">
      <li><a class="auth-link singInLan textAlignLan" href="#">Sign In</a></li>
      <li><a class="auth-link singUpLan textAlignLan" href="#">Sing Up</a></li>
    </ul>
    <!-- lang buttons -->
    <div class="nav-dropdown">
      <button class="dropbtn LangugesLan textAlignLan">Language
      </button>
      <i class="fa-solid fa-globe"></i>
      <div class="dropdown-content">
        <a class="enBtn" href="#">English</a>
        <a class="arBtn" href="#">عربي</a>
        <a class="trBtn" href="#">Turkish</a>
      </div>
    </div>
    <!-- dropDown for responsev tablet&phone -->
    <div class="nav-dropDonw-responsev">
      <button class="icon-bars">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="nav-dropDonw-responsev-content">
        <a class="nav-dD-rv-ct-link realLan textAlignLan" href="#real">Real estate</a>
        <a class="nav-dD-rv-ct-link carLan textAlignLan" href="#car">Vehicles</a>
        <a class="nav-dD-rv-ct-link hotelLan textAlignLan" href="#hotel">Hotels</a>
        <span class="nav--span-dropDonw"></span>
        <a class="nav-dD-rv-ct-link singInLan textAlignLan" href="#">Sing In</a>
        <a class="nav-dD-rv-ct-link singUpLan textAlignLan" href="#">Sing Up</a>
        <span class="nav--span-dropDonw"></span>
        <div class="div-btn-lan-rv textAlignLan">
          <button class="btn-lan-rv LangugesLan textAlignLan">Language
            <i class="fa-solid fa-globe"></i>
          </button>
          <div class="lan-contant-rv">
            <a class="nav-dD-rv-ct-link enBtn" href="#">English</a>
            <a class="nav-dD-rv-ct-link arBtn" href="#">عربي</a>
            <a class="nav-dD-rv-ct-link trBtn" href="#">Türkçe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>