<!-- navBar for pages as puplic -->
<nav>
    <div class="container main-nav">
      <!-- brand -->
      <p class="brand">Ev pazarlama</p>
      <!-- navigators links in page -->
      <ul class="navigator-in-page">
        <li><a class="nav-link active HomeLan textAlignLan" href="http://localhost:3001/">HomePage</a></li>
      </ul>
    </div>
  </nav>