* {
    box-sizing: border-box;
}

/* Globel varbel */
:root {
    --blackColor: rgb(22, 20, 20);
    --whiteColor: rgb(255, 255, 255);
    --grayColer: #b3b0b0e0;
    --containerCardColor: #e0d7d7;
    --greenColor: #58e4cad5;
    --redColor: rgb(241, 0, 161);
    --fullwidth: 100%;
    --opictyVal: 0.8;
}

body {
    background-color: rgb(240, 213, 238)
}

/*========================start all nav bar contact==============================*/
nav {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    background-color: var(--blackColor);
}

div.main-nav {
    text-align: center;
    align-items: center;
    display: flex;
    background-color: var(--blackColor);
    overflow: hidden;
    padding: 16px;
    margin: auto;
}

/* brand contnet */
.brand {
    margin: unset;
    color: var(--greenColor);
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    padding: 0px 24px;

}

/* list of links to nav scrooling in page */
.navigator-in-page {
    flex-direction: row;
    display: flex;
    flex: 15px;
    list-style: none;
    margin: 0px;

}

.nav-link {
    text-decoration: none;
    padding: inherit;
    color: var(--grayColer);
    transition: 500ms;
    padding: 0px 14px;

}

.nav-link:hover {
    color: var(--greenColor);
}

/* list auth */
ul.list-auth {
    flex-direction: row;
    display: flex;
    flex: 15px;
    list-style: none;
    position: absolute;
    right: 12%;
    margin: 10px;
}

a.auth-link {
    text-decoration: none;
    padding: inherit;
    color: var(--grayColer);
    transition: 500ms;
    padding: 0px 8px;
}

a.auth-link:hover {
    color: var(--greenColor);
}

/* drop Button languges whith his contact*/

div.nav-dropdown {
    position: absolute;
    right: 30px;
}

div.nav-dropdown:hover .dropbtn {
    color: var(--greenColor)
}

.dropbtn {
    font-size: 18px;
    text-align: center;
    background-color: inherit;
    font-family: inherit;
    color: var(--grayColer);
    border: none;
    outline: none;
    margin: 0;
    transition: 500ms;
}


.fa-globe {
    color: var(--grayColer);
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 15%;
    background-color: var(--blackColor);
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    float: none;
    color: var(--grayColer);
    font-size: 16px;
    border-bottom: solid 0px transparent;
    padding: 10px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 400ms;
}

.dropdown-content a:hover {
    color: var(--greenColor);
    padding-left: 16px;
    border-bottom: solid 1px var(--greenColor);
}

/* dropDown  include all buttons in navBar for tablet and phones */
.nav-dropDonw-responsev {
    display: none;
    background-color: var(--redColor);
    position: absolute;
    z-index: 1;
    text-align: left;
    top: 62px;
    right: 0px;
    left: 0px;
    width: 100vw;
    transition: 400ms;
}

.icon-bars {
    border: none;
    background-color: var(--blackColor);
    border-radius: 5px;
    transition: 400ms;
    overflow: hidden;
    position: absolute;
    right: 10px;
    bottom: 5px;
    margin: 8px 20px;
}

.icon-bars:hover {
    background-color: var(--greenColor);
}

.fa-bars {
    font-weight: 900;
    color: var(--greenColor);
    margin: 0px;
    font-size: 18px;
    padding: 8px;
    transition: 400ms;
}

.fa-bars:hover {
    color: var(--blackColor);
    padding: 9px;

}

.nav-dropDonw-responsev-content {
    display: none;
    position: fixed;
    background-color: var(--blackColor);
    width: 100vw;
}

.nav-dD-rv-ct-link {
    display: block;
    text-decoration: none;
    color: var(--grayColer);
    transition: 500ms;
    padding: 4px 16px;
}

.nav-dD-rv-ct-link:hover {
    display: block;
    text-decoration: none;
    color: var(--greenColor);
    padding: 4px 18px;
}

.nav--span-dropDonw {

    border-top: 1.5px solid var(--greenColor);
    height: 3px;
    width: 100vw;
    display: block;
    margin: 4px 0px;
}


.btn-lan-rv {
    background-color: inherit;
    border: none;
    color: aliceblue;
    padding: 9px;
    transition: 400ms;
    margin: 4px 8px;
}

.btn-lan-rv:hover {
    color: var(--greenColor);
    padding: 9px 12px;
    display: block;
}

.lan-contant-rv {
    background-color: var(--blackColor);
    display: none;
    position: absolute;
    width: 120px;
    z-index: 1;
    top: 85%;
    left: 25px;
}

.div-btn-lan-rv {
    position: relative;

}

.div-btn-lan-rv:hover .lan-contant-rv {
    display: block;
}


/* =========================================cStart ustom Carousel=============================== */

.mycarousel-img {
    margin-top: 35px;
    height: 500px;
    overflow: hidden;
    object-fit: fill;
    opacity: var(--opictyVal);
    transition: 400ms;
}


.mycarousel-h3 {
    color: var(--redColor);
    font-size: 35px;
    font-weight: bold;
    transition: 400ms;
}

.mycarousel-p {
    color: var(--greenColor);
    font-weight: bold;
    font-size: 24px;
    transition: 400ms;
}


/* ====================================== data card in index page ============================== */

.mainContanerAllReal {
    background-color: var(--containerCardColor);
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 12px;
}

.mainContanerAllReal h1 {
    color: var(--redColor);
    text-align: center;
    margin-bottom: 8px;
    border-bottom: 2px solid var(--greenColor);
}

.data-container {
    width: 100%;
    margin: 16px 0px;
    padding: 8px;
    background-color: var(--whiteColor);
    border-radius: 12px;
    box-shadow: 10px 10px 8px #888888;
    transition: 500ms;
}

.data-container:hover {
    width: calc(102%);
    background-color: #d2d2d2;
    box-shadow: 11px 11px 9px #6e6c6c;
}

.data-container img {
    width: 100%;
    height: 150px;
    object-fit: cover
}

.nodata {
    background-color: var(--greenColor);
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 12px;
    text-align: center;
    color: var(--redColor);

}

.nodata i {
    font-size: 150px;
    padding: 24;
    margin: 12px;
}

.moreAd {
    background-color: var(--redColor);
    width: 120px;
    padding: 8px;
    margin: 8px 88%;
    border-radius: 8px;
    text-align: center;
    position: relative;
    bottom: 5px;
    transition: 500ms;
}

.moreAd:hover {
    background-color: var(--whiteColor);
    bottom: 8px;
    margin: 8px 89%;
}

.moreAd a {
    color: var(--whiteColor);
    padding: 8px;
    text-decoration: none;
    text-align: center;
    transition: 500ms;
}


.moreAd a:hover {
    color: var(--redColor);
}

/* ============================================ Fillter =============================================== */
.fillter-form{
    background-color: var(--containerCardColor);
    height: 400px;
    margin: 16px auto;
    padding: 24px;
    text-align: center;
}
.fillter-form h3{
    margin: auto;
    padding: 12px;
    color: var(--greenColor);
}
/* ============================================dailog one ad =========================================== */
.showDailoge {
    position: fixed;
    z-index: 3;
    top: 10%;
    margin: auto;
    right: 25%;
    left: 25%;
    width: 40%;
    background-color: var(--whiteColor);
    padding: 8px;
    align-items: center;
    border-radius: 12px;
}

.ad-number {
    font-size: 1.5rem;
    text-align: center;
    color: firebrick;
}

.img-info {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 2px;
}

.adress-info,
.details-info {
    padding: inherit;
    font-size: 16px;
    font-weight: bold;
    color: darkcyan;
}

.details-price {
    padding: inherit;
    color: darkcyan;
    font-size: 16px;
    font-weight: bold;
}

.divlinkdetailAd {
    background-color: var(--redColor);
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    margin: auto;
    text-align: center;
    transition: 500ms;
}

.divlinkdetailAd a{
    color: var(--whiteColor);
    text-decoration: none;
    transition: 500ms;
}

.divlinkdetailAd:hover{
    background-color: var(--greenColor);
    color: var(--redColor);
}

.divlinkdetailAd a:hover{
    color: var(--redColor);

}


/* =============================================Footer=========================================== */

.footer {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: var(--blackColor);
    text-align: center;
    padding: 24px;
}

.footer i {
    margin: 8px;

}

.footer p {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    color: var(--grayColer);
    font-size: medium;
}

.footer a {
    text-decoration: none;
}

.footer i {
    color: var(--redColor);
    font-size: 24px;
    transition: 400ms;
}

.footer i:hover {
    color: var(--greenColor);
    font-size: 32px;

}


/* ===========================================Genral classes ===================================== */
.active {
    color: var(--redColor);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}



/* =======================================Responsev Media quereey================================= */

@media screen and (min-width: 1200px) {
    ul.list-auth {
        flex-direction: row;
        display: flex;
        flex: 15px;
        list-style: none;
        position: absolute;
        right: 12%;
        margin: 0px;
    }

    .nav-dropDonw-responsev {
        display: none;
    }

}


/* labtop */
@media screen and (max-width: 992px) {
    ul.list-auth {
        flex-direction: row;
        display: flex;
        flex: 15px;
        list-style: none;
        position: absolute;
        right: 15%;
        margin: 10px;
    }

    .nav-dropDonw-responsev {
        display: none;
    }

}

/* tablet */
@media screen and (max-width: 768px) {

    .navigator-in-page,
    ul.list-auth,
    .nav-dropdown {
        display: none;
    }

    .nav-dropDonw-responsev {
        display: block;
    }

    .showDailoge {
        top: 15%;
        left: 13%;
        width: 70%;
    }

    .moreAd {
        margin: 8px 85%;
    }


    .divlinkdetailAd {
        margin-left: 0px;
    }
}


/* phones */
@media screen and (max-width: 576px) {

    .navigator-in-page,
    ul.list-auth,
    .nav-dropdown {
        display: none;
    }

    .nav-dropDonw-responsev {
        display: block;
    }

    .mycarousel-img {
        margin: 50px 0px;
        height: 200px;
        overflow: hidden;
        object-fit: fill;
        opacity: var(--opictyVal);
    }

    .showDailoge {
        top: 15%;
        left: 15%;
        width: 70%;
    }

    .moreAd {
        margin: 8px 70%;
    }
}